* {
    margin: 0;
    box-sizing: border-box;
    font-family: lato-regular;
}

@font-face {
    font-family: lato-bold;
    src: url("assets/Lato-Bold.ttf");
}

@font-face {
    font-family: lato-regular;
    src: url("assets/Lato-Regular.ttf");
}

#header,
#sidebar,
#main {
    padding: 10px 35px;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 150px auto;
}

.bold {
    font-family: lato-bold;
}

/* ------------------------------------------------ */
/* HEADER */
#header {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-top {
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 150px;
}

.search {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 10px;
    align-items: center;
}

input[type="search"] {
    height: 1.5rem;
    border-radius: 20px;
    border: none;
    background-color: rgb(227, 232, 239);
    padding: 10px;
}

.user {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
}

.icon {
    width: 20px;
}

.user-picture-small {
    border-radius: 50%;
    width: 35px;
}

.header-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.greeting {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.hello-greeting {
    font-size: .75rem;
    align-self: end;
}

.name-greeting {
    font-size: 1.25rem;
    align-self: start;
}

.user-picture-large {
    width: 50px;
    border-radius: 50%;
}

.greeting-user {
    grid-column: 1;
    grid-row: 1 / 3;
}

.action {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 15px;
}

.action-button {
    background-color: rgb(69, 144, 206);
    border: 0px;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    color: rgb(255, 255, 255);
}

/* ------------------------------------------------ */
/* SIDEBAR */
#sidebar {
    background-color: rgb(69, 144, 206);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

/* ------------------------------------------------ */
/* MAIN */
#main {
    background-color: rgb(227, 232, 239);
}